.font-main {
  padding: 2px;
}

#btn1 {
  margin-bottom: 4px;
}

h1 {
  color :blue;
  font-size: 2rem;
  font-family: serif;
  text-decoration: underline;
  background: linear-gradient(transparent 50%, #afeaff 50%);
  text-align: center;
}

h2 {
  font-weight: bold;
}
body {
  background-color: #fffee9;
  background-image: url(images/sekai.jpg);
<<<<<<< HEAD
  background-repeat: no-repeat;
  background-size: cover;

=======
>>>>>>> be8f323e4cbde999d58e29e1c97ae89305e96282
}

h3 {
  font-size: 8pt;
}

p {
  font-family: sans-serif;
}

.under {
  ///text-decoration: underline;
  background: linear-gradient(transparent 50%, #a8eaff 50%);
}

aside {
  text-align: right;
}
